* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/banner.png);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    text-align: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    display: inline-block;
    padding: 6px 12px;
    position: relative;
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: crimson;
    margin: auto;
    display: block;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.text-box h1 {
    font-size: 65px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 15px;
}

.hero-btn {
    display: inline-block;
    color: white;
    padding: 12px 32px;
    background: transparent;
    border: 1px solid white;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid crimson;
    background: crimson;
    transition: 1s;
}

nav .fa {
    display: none;
}

@media (max-width:700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        width: 200px;
        height: 100vh;
        z-index: 2;
        position: fixed;
        background: crimson;
        top: 0;
        right: -200px;
        transition: 1s;
    }
    nav .fa {
        display: block;
        margin: 15px;
        font-size: 20px;
        color: white;
    }
}

.courses {
    margin: auto;
    color: #777;
    padding-top: 100px;
    width: 80%;
    text-align: center;
}

.heading1 {
    font-size: 40px;
    font-weight: 600;
}

.courses p {
    font-weight: 300;
    font-size: 15px;
}

.row {
    margin-top: 5%;
    justify-content: space-between;
    display: flex;
}

.row-column {
    flex-basis: 32%;
    margin-bottom: 5%;
    padding: 20px 5px;
    border-radius: 10px;
    transition: .5s;
    background-color: rgb(224, 213, 224);
}

.row-column h1 {
    text-align: center;
    font: 500;
    margin: 10px 0px;
}

.row-column:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width:700px) {
    .row {
        flex-direction: column;
    }
}


/* ----------------facilities--------------------- */

.facilities {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.facilites-col {
    display: inline-block;
    flex-basis: 31%;
    border-radius: 10px;
    text-align: left;
    width: 265px;
    margin-bottom: 5%;
}

.facilites-col img {
    /* width: 100PX; */
    width: 265px;
    border-radius: 10px;
}

.facilites-col p {
    padding: 0;
}

.facilites-col h3 {
    margin-top: 15px;
    margin-bottom: 16px;
    text-align: left;
}


/* --------------------testimonials------------ */

.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonial-col {
    flex-basis: 44%;
    margin-bottom: 5%;
    /* border-radius: 50%; */
    padding: 25px;
    cursor: pointer;
    display: inline-block;
    text-align: left;
    background-color: #fff3f3;
    width: 35%;
}

.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0;
    text-align: justify;
}

.testimonial-col .fa {
    color: #f44336;
}

@media (max-width:700px) {
    .testimonial-col img {
        margin-left: 0px;
        margin-right: 30px;
    }
    .testimonial-col {
        flex-basis: 44%;
        margin-bottom: 5%;
        padding: 25px;
        cursor: pointer;
        display: inline-block;
        text-align: left;
        background-color: #fff3f3;
        width: 79%;
    }
}


/* -------------------call to action---------- */

.cta {
    padding: 100px 0;
    margin: 100px auto;
    width: 80%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
}

.cta h1 {
    color: #fff;
    margin-bottom: 30px;
    padding: 0;
}

@media (max-width:700px) {
    .cta h1 {
        font-size: 24px;
    }
}


/* -------------footer------------------------ */

.about {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #fff3f3;
}

.about h4 {
    margin-top: 15px;
    margin-bottom: 20px;
}

.icons {
    padding-top: 20px;
}

.icons .fa {
    padding: 0 10px;
    color: #f44336;
    cursor: pointer;
    font-size: 27px;
}

.para {
    padding-top: 20px;
    padding-bottom: 0;
}


/* ---------------blog-------------/ */

.sub-header {
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(4, 9, 30, .7), rgba(4, 9, 30, .7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.sub-header h1 {
    margin-top: 50px;
}

.red-btn {
    border: 1px solid crimson;
    background: transparent;
    color: crimson;
}

.red-btn:hover {
    color: white;
    border: 1px solid crimson;
}


/* ----------------blog page------------ */

.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left {
    flex-basis: 65%;
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    font-weight: 600;
    padding: 30px 0;
    color: #222;
}

.blog-left p {
    padding: 0;
    color: #333;
    text-align: justify;
}

.blog-right {
    flex-basis: 32%;
}

.blog-right h3 {
    padding: 7px 0;
    margin-bottom: 20px;
    color: white;
    font-size: 22px;
    background-color: crimson;
    text-align: center;
}

.blog-right div {
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
}

.comment-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
    font-weight: 700;
}

.form-content input,
.form-content textarea {
    width: 100%;
    background-color: #f0f0f0;
    margin: 15px 0;
    border: none;
    outline: none;
    padding: 10px;
}

.form-content button {
    margin: 10px 0;
}

@media (max-width:700px) {
    .sub-header h1 {
        font-size: 22px;
    }
}


/* --------------------contact page------------ */

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    text-align: center;
    margin-bottom: 40px;
}

.contact-col div .fa {
    font-size: 26px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    padding: 0;
}

.contact-col div h5 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #555;
}

.contact-col input,
.contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    border: 1px solid #ccc;
}